@model Web.VinFast.Models.Car

<!-- ---------- single Products detail ----------- -->
<div class="blog">
    <h1>VINFAST PRESIDENT</h1>
</div>

<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="@Model.Image" width="100%" id="productImg">

            <div class="small-img-row">
                <div class="small-img-rol">
                    <img src="@Model.Image" width="100%" class="small-img">
                </div>
                <div class="small-img-rol">
                    <img src="~/assets/images/car-president/CE12.png" width="100%" class="small-img">
                </div>
                <div class="small-img-rol">
                    <img src="~/assets/images/car-president/CE13.png" width="100%" class="small-img">
                </div>
                <div class="small-img-rol">
                    <img src="~/assets/images/car-president/CE15.png" width="100%" class="small-img">
                </div>
            </div>

        </div>
        <div class="col-2">
            <p>Home /@Model.CarCategory.Name</p>
            <h1>@Model.Name</h1>
            <h4>@Model.Price VND</h4>
            <select>
                <option>Chọn Kiểu Xe</option>
                <option>Cơ bản</option>
                <option>Nâng Cao</option>
                <option>Pro</option>
                </section>
                <input type="number" value="1">
                <a href="" class="btn">Thêm vào giỏ</a>
                <h3>
                    Chi Tiết Sản Phẩm

                </h3>
                <br>
                <p>
                    @Model.Description
                </p>
        </div>
    </div>
</div>

<!-- ----- title------------- -->
<div class="small-container">
    <div class="row row2">
        <h2>Sản phẩm khác</h2>
        <p>Xem thêm</p>
    </div>
</div>

<!-- ---------------Products----------------- -->
<div class="small-container">

    <div class="row">
        @if (ViewBag.OrderCar != null)
        {
            @foreach (var item in ViewBag.OrderCar)
            {
                <div class="col-4">
                    <img src="@item.Image">
                    <h4>@item.Name</h4>
                    <p>@item.Price VND</p>
                </div>
            }
        }
    </div>
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
    </div>
</div>